.transition {
    background-color: green;
    width: 100px;
    height: 100px;
    transition: width 2s ease .5s,
                background-color 2s ease .5s,
                height 2s ease .5s;
}

@media only screen and (max-width: 960px) {
    .transition {
        background-color: orange;
        width: 200px;
        height: 50px;
    }
}

